<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Note</title>
</head>
<body>

<p th:text="${note.getNote()}">NOTE</p> <!--получаем элемент-->
<p th:text="${note.getId()}">ID</p> <!--получаем id элемента-->
<a th:href="@{/notes/{id}/edit(id=${note.getId()})}">Edit</a> <!--ссылка на страницу элемента по id-->
<form th:method="DELETE" th:action="@{/notes/{id}(id=${note.getId()})}"> <!--удаление элемента по кнопке Delete(кнопка по форме)-->
    <input type="submit" value="Delete"> <!--сама кнопка-->
</form>
</body>
</html>